.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "mainNav" "mainHeader" "mainContent" "mainFooter";
}

.mainNav { grid-area: mainNav }
.mainHeader { grid-area: mainHeader; }
.mainContent { grid-area: mainContent; }
.mainFooter { grid-area: mainFooter; }